.container {
    width: 800px;
    height: 130vh;
    position: relative;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerTitle {
    text-align: center;
}

.bannerTitle1 {
    font-size: 64px;
    color: white;
}

.bannerText {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 50px;
    width: 500px;
}

.btnPedido {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    background: #FFFFFF;
    border: 4px solid #ED708E;
    box-sizing: border-box;
    border-radius: 50px;
    color: #ED708E;
    width: 367px;
    height: 68px;
    margin-top: 50px;
}

.btnPedido:hover {
    background-color: #ED708E;
    color: #FFFFFF;
    transition-duration: 500ms;
}

.a {
    text-decoration: none;
}

.icon {
    margin-left: 10px;
}