.container {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    top: 15%;
    overflow: hidden;
}

.title1 {
    color: #52BFE9;
    font-size: 64px;
    position: relative;
    left: 22%;
}

.title2 {
    color: #0E2E3B;
}

.text {
    position: relative;
    left: 16%;
    margin-top: 6%;
    width: 28%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.container {
    width: 100%;
}

.imagem1 img {
    overflow: hidden;
    position: relative;
    bottom: 50%;
    left: 53%;
    height: 1800px;
}

.imagem2 img {
    position: relative;
    bottom: 115%;
    height: 1100px;
}

.text2 {
    position: relative;
    bottom: 610%;
    left: 56%;
    width: 28%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}