.title {
    position: relative;
    top: 120px;
    text-align: center;
    font-size: 64px;
    color: #ffffff;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 36px;
    }
}