.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 99.9vw;
    font-size: 24px;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 100;
    font-size: 18px;
}

.navbar a {
    text-decoration: none;
    color: #0E2E3B;
}

.navbar a:hover {
    text-decoration: underline;
}