.container {
    width: 98vw;
    height: 100vh;
    margin-bottom: 25%;
}

.mainImage {
    position: absolute;
    left: 1250px;
    top: 1420px;
}

.main {
    position: absolute;
    width: 602px;
    height: 144px;
    left: 290px;
    top: 1720px;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.btnSaibaMais {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    background: #FFFFFF;
    border: 4px solid #ED708E;
    box-sizing: border-box;
    border-radius: 50px;
    color: #ED708E;
    width: 367px;
    height: 48px;
    position: absolute;
    top: 200%;
    left: 20%;
}

.btnSaibaMais:hover {
    background-color: #ED708E;
    color: #FFFFFF;
    transition-duration: 500ms;
}