.app {
    background-image: url('/public/assets/1440/fundo-sobre.png');
    background-repeat: no-repeat;
    height: 190vh;
}

@media only screen and (max-width: 1920px) {
    .app {
        background-image: url('/public/assets/1920/fundo-sobre.png');
    }
}