.container {
    background: #FFFFFF;
    width: 100%;
    height: 120px;
    position: relative;
    bottom: -80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #ED708E;
}

.container h4 {
    font-size: 18px;
    font-weight: 600;
}

.redesIcones {
    display: flex;
    justify-content: space-evenly;
}

.iconesDiv {
    background-color: #ED708E;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icones {
    background-color: #ED708E;
    border-radius: 50px;
    font-size: 26px;
}

.whatsapp {
    background-color: #ED708E;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

@media only screen and (max-width: 375px) {
    .container {
        height: 341px;
        display: flex;
        flex-direction: column;
        margin-top: -80px;
    }
}