.App {
  background-image: url("/public/assets/1440/fundo-home.png");
  background-repeat: no-repeat;
  background-position: center 80px;
  height: 290vh;
}

@media only screen and (max-width: 1920px) {
  .App {
    background-image: url("/public/assets/1920/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 2700px;
  }
}

@media only screen and (max-width: 1600px) {
  .App {
    background-image: url("/public/assets/1600/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 2647px;
  }
}

@media only screen and (max-width: 1280px) {
  .App {
    background-image: url("/public/assets/1280/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 2647px;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    background-image: url("/public/assets/800/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 2000px;
  }
}

@media only screen and (max-width: 576px) {
  .App {
    background-image: url("/public/assets/576/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 100px;
    height: 2100px;
  }
}

