.App {
  background-image: url("/public/assets/1440/fundo-home.png");
  background-repeat: no-repeat;
  background-position: center 80px;
  height: 290vh;
}

@media only screen and (max-width: 1920px) {
  .App {
    background-image: url("/public/assets/1920/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 270vh;
  }
}

@media only screen and (max-width: 1600px) {
  .App {
    background-image: url("/public/assets/1600/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 2613px;
  }
}

@media only screen and (max-width: 1366px) {
  .App {
    background-image: url("/public/assets/1366/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 335vh;
  }
}

@media only screen and (max-width: 1280px) {
  .App {
    background-image: url("/public/assets/1280/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 352vh;
  }
}

@media only screen and (max-width: 1024px) {
  .App {
    background-image: url("/public/assets/1024/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 318vh;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    background-image: url("/public/assets/800/fundo-home.png");
    background-repeat: no-repeat;
    background-position: center 80px;
    height: 315vh;
  }
}


